table {
    width: 600px;
    border-spacing: 0px;
    padding: 0px;
    border: 1px;
}

tr {
    display: flex;
    flex-direction: row;
}

td {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 90%;
    height: auto;
}